/**
* *************************************
* BASIC
* *************************************
*/
html {
    scroll-behavior: smooth;
}

body, html {
    height: 100% !important;
    margin: 0!important;
    line-height: 180% !important;
    color: #666!important;
    text-align: center!important;
}

.two-col {
    float: left;
    width: 50%;
    padding: 0 4%;
}

section {
    overflow: auto;
    padding: 50px 80px;
}

.dark {
    overflow: auto;
    padding: 50px 80px;
    background-color: #323232;
    color: #f2f2f2;
}

.space1  {
 justify-content: center !important;    
}
.space2 {
    justify-content: center !important;    
}

/**
* *************************************
* PARALLAX
* *************************************
*/
.parallax1 {
    background: url(../img/mercedes/mercedes1.jpg);
    min-height: 100%;
}

.parallax2 {
    background: url(../img/mercedes/mercedes2.jpg);
    min-height: 60%;
}

.parallax3 {
    background: url(../img/mercedes/mercedes3.jpg);
    min-height: 40%;
}

.parallax4 {
    background: url(../img/audi/audi2.jpg);
    min-height: 100%;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/**
* *************************************
* FRONTPAGE HEADINGS
* *************************************
*/
.heading {
    position: absolute;
    color: #FFFFFF;
    font-size: 550%;
    top: 45%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;
}

.heading-sm {
    position: absolute;
    top: 45%;
    width: 100%;
    color: #FFFFFF;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #000;
}



/**
* *************************************
* NAV
* *************************************
*/
a {
    color: white;
    font-size: 2rem;
}


/**
* *************************************
* NAV 2 EXAMPLE
* *************************************
*/
.ul_left  {
    height: 2.500em;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #EEE;
    font-size: 16px;
}

li_left {
    position: relative;
    display: block;
    float: left;
    margin-right: 1.563em;

    height: 100%;
    width: 6.25em;

    cursor: pointer;
    user-select: none;

    background: #EEE;
    color: #555;
    text-align: center;
    line-height: 2.5em;
}
li_left::before {
    content: '';
    position: absolute;
    display: block;

    left: -1.5em;

    width: 0;
    height: 0;

    border-top: 2.5em solid transparent;
    border-right: 1.563em solid #EEE;
}
li_left::after {
    content: '';
    position: absolute;
    display: block;

    top: 0;
    right: -1.5em;

    width: 0;
    height: 0;

    border-top: 2.5em solid #EEE;
    border-right: 1.563em solid transparent;
}

/* Hover */

li_left:hover {
    color: #666;
    background: #CCC;
}
li_left:hover::after {
    border-top: 2.5em solid #CCC;
    border-right: 1.563em solid transparent;
}
li_left:hover::before {
    border-top: 2.5em solid transparent;
    border-right: 1.563em solid #CCC;
}

/* Active */

li_left:active {
    color: #BBB;
    background: #DDD;
}
li_left:active::after {
    border-top: 2.5em solid #DDD;
    border-right: 1.563em solid transparent;
}
li_left:active::before {
    border-top: 2.5em solid transparent;
    border-right: 1.563em solid #DDD;
}

/**
* *************************************
* SHOWROOM
* *************************************
*/
/* .card {
    width: 95%;
} */
/**
* *************************************
* IMAGE TEST
* *************************************
*/
.bg-img1 {
    /* The image used */
    /* background-image: url("../img/audi/audi1.jpg"); */
    /* Control the height of the image */
    min-height: 425px!important;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

.bg-img2 {
    /* The image used */
    background-image: url("../img/mercedes/mercedes1.jpg");
 
    /* Control the height of the image */
    min-height: 425px!important;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }